*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    transition: all .3s;
}
$main-color:rgb(32, 56, 89);
$btn-text-color:#fff;
$text-color:#000;
$bg-hover-color:rgba(32, 56, 89, 0.2);
$bg-hover-dark-color:rgba(32, 56, 89, 0.5);
button,input{
    outline: none;
    border: none;
    background-color: transparent;
}
html{
    scroll-behavior: smooth;
    font-size: 10px;
}
body{
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    letter-spacing: .1rem;
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 114rem;
    margin: 0rem auto;
    padding: 5rem .5rem;
    h1{
        font-size: 2.4rem;
        width: 20rem;
        margin: 0rem auto;
        color: $main-color;
        margin-bottom: 3rem;
        text-align: center;
        position: relative;
        cursor: pointer;
        &:hover::before{
            bottom: -20%;
        }
        &::before{
            content: "";
            width: 20%;
            height: .3rem;
            background-color: $main-color;
            border-radius: .3rem;
            position: absolute;
            transform: translate(-50%,-50%);
            bottom: -30%;
            left: 50%;
            transition: all .3s;
        }
    }
    .group{
        width: 100%;
        height: 3.5rem;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;
        button{
            width: 3.5rem;
            height: 3.5rem;
            background-color: $main-color;
            color: $btn-text-color;
            cursor: pointer;
            font-size: 1.6rem;
            &:hover{
                background-color: rgba(32, 56, 89, 0.2);
                color: $text-color;
            }
        }
        input{
            width: calc(100% - 4.5rem);
            height: 2.5rem;
            border: .1rem solid $main-color;
            font-size: 1.4rem;
            padding: 0rem .5rem;
            color: $main-color;
            &:focus{
                background-color: $bg-hover-color;
            }
        }
    }
    #todos{
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
        li{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: .3rem .5rem;
            line-height: 200%;
            &:nth-child(odd){
                background-color: $bg-hover-color;
            }
            &:not(:first-child){
                border-top: .1rem solid $main-color;
            }
            i{
                width: 3.5rem;
                height: 3.5rem;
                line-height: 3.5rem;
                text-align: center;
                font-size: 1.6rem;
                color: $main-color;
                &:hover{
                    color: $text-color;
                    cursor: pointer;
                }
            }
            p{
                width: calc(100% - 4.5rem);
                font-size: 1.4rem;
                &::first-letter{
                    font-size: 2.4rem;
                    color: $text-color;
                    margin-right: .5rem;
                }
            }
        }
    }
}